:root{
   --txt_preto: #100f0f;
   --azul: #3076AB;
   --branco: #f8f8f8
}

html{
   font-family: 'nunito', sans-serif;
   scroll-behavior: smooth;
}

.cabecalho{
   border-bottom: 1px solid #dfdfdf;
}

.cabecalho .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   margin: 2% auto;
}

.logo{
   width: 40%;
}

.menu_mobile{
   display: none;
}

.img_logo{
   width: 40px;
   vertical-align: middle;
   padding-right: 4%;
}

.txt_logo{
   font-size: 24px;
   font-weight: 800;
}

.menu_nav{
   width: 30%;
}

.menu_lista{
   display: flex;
   justify-content: space-around;
   width: 100%;
}

.item_menu{
   color: var(--txt_preto);
   font-weight: 600;
   font-size: 17px;
}

a{
   text-decoration: none;
   color: var(--txt_preto);
}



/* Intro */

.secao_intro{
   width: 90%;
   margin: 5% auto;
}

.secao_intro .container{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.conteudo_txt_intro{
   width: 40%;
}

.titulo_intro{
   font-size: 48px;
   font-weight: 700;
   color: var(--txt_preto);
}

.conteudo_img_intro{
   width: 30%;
}

.ilustracao{
   width: 100%;
   height: 400px;
}




/* #################### Sobre #################### */
.secao_sobre{
   width: 90%;
   margin: 10% auto 0;
}

.secao_sobre .container{
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 30px;
}

.titulo_sobre{
   font-size: 24px;
   font-weight: 700;
}

.txt_sobre{
   width: 70%;
   text-align: center;
   line-height: 1.3rem;
}



/*#################### Peso ####################*/
.secao_peso{
   width: 90%;
   margin: 5% auto;
}

.secao_peso .container{
   display: flex;
   align-items: center;
   flex-direction: column;
   row-gap: 50px;
}

.conteudo_tabela_peso{
   width: 40%;
}

.tabela_peso{
   width: 100%;
}

th{
   background-color: #dce6f3;
   font-weight: 600;
}

tr ,th, td{
   border: 1px solid rgb(113, 113, 113);
   padding: 5px;
   text-align: center;
}





/* ####################Formulario#################### */
.formulario{
   width: 40%;
   display: flex;
   flex-direction: column;
   row-gap: 30px;
}

.grupo_formulario label{
   font-weight: 600;
}

.grupo_formulario input{
   width: 80%;
   height: 25px;
   border-radius: 5px;
   border: 1px solid #808080;
}

.grupo_formulario input:focus{
   outline: 1px solid #2083d3;
}

.bt_enviar{
   width: 50%;
   align-self: center;
   height: 35px;
   background-color: var(--azul);
   color: var(--branco);
   font-weight: 600;
   font-size: 17px;
   border: 1px solid #9e9e9e;
   box-shadow: 1px 5px 5px #50505086;
   border-radius: 6px;
   height: 40px;
}

.bt_enviar:hover{
   cursor: pointer;
   background-color: #64afed;
   transition: 250ms;
}





/* #################### Imc #################### */
.secao_imc{
   width: 90%;
   margin: 15% auto 0;
}

.secao_imc .container{
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 30px;
}

.titulo_imc{
   font-size: 24px;
   font-weight: 700;
}

.txt_imc{
   width: 70%;
   text-align: center;
   line-height: 1.3rem;
}

.subtitulo_imc{
   font-weight: 600;
}

.form_imc{
   width: 40%;
   text-align: center;
}

.form_imc .container{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.grupo_formulario_imc{
   width: 65%;
   display: inline-block;
}

.grupo_formulario_imc label{
   font-weight: 600;
   font-size: 14px;
   display: block;
}

.grupo_formulario_imc input{
   width: 35%;
   height: 25px;
   border-radius: 5px;
   border: 1px solid #808080;
}

.grupo_formulario_imc input:focus{
   outline: 1px solid #2083d3;
}

.grupo_bt_imc{
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 30%;
   margin-top: 4%;
}

.bt_calcular_imc, .bt_limpar_imc {
   width: 20%;
   height: 32px;
   border-radius: 6px ;
   border: 1px solid #9e9e9e;
   background-color: var(--azul);
   color: #ffffff;
   font-weight: 600;
}

.bt_calcular_imc:hover ,.bt_limpar_imc:hover{
   cursor: pointer;
   transition: 250ms;
   background-color: #64afed;
}

.tabela_imc{
   width: 45%;
   font-size: 14px;
}

.tabela_imc thead{
   text-transform: uppercase;
}

.linha_tabela_imc{
   font-weight: 600;
   color: #3d3d3d;
}










/* #################### Rodape #################### */

.linha{
   border-bottom: none;
   border-top: 1px solid #dfdfdf;
}

.txt_rodape{
   text-align: center;
   font-size: 14px;
}