@media screen and (max-width:425px) {
   .cabecalho{
      border: none;
   }

   .cabecalho .container{
      flex-direction: column;
      width: 100%;
      row-gap: 15px;
   }

   .logo{
      display: flex;
      width: 90%;
   }

   .txt_logo{
      width: 100%;
   }

   .menu_mobile{
      display: block;
      width: 20px;
   }
   
   .menu_nav{
      width: 100%;
      display: none;
   }

   .menu_ativo{
      display: block;
   }

   .menu_lista{
      flex-direction: column;
   }

   .item_menu{
      border: 1px solid #d8d8d8;
      padding: 8px;
      background-color: #fafafa;
   }
   
   .secao_intro .container{
      flex-direction: column;
   }
   
   .conteudo_txt_intro{
      width: 100%;
      text-align: center;
   }
   
   .txt_sobre, .conteudo_tabela, .formulario{
      width: 90%;
   }
}
